@model IEnumerable<Project.Models.OrderDetail>

@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complete</h2>

    <h3>Thans For shopping Your Order Is :@TempData["custmerid"]</h3>
    <h3>How About Shoping Some for Music in our  <a href="/Home/Index">Store</a></h3>